frontend/node_modules
backend/venv

# Output
# frontend/*.output
# frontend/*.vercel
frontend/.svelte-kit
frontend/build

# OS
.DS_Store
# Thumbs.db

# Env
# .env
# .env.*
# !.env.example
# !.env.test

# Vite
# vite.config.js.timestamp-*
# vite.config.ts.timestamp-*
